<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
	<!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
	<!--xmlns:mvc="http://www.springframework.org/schema/mvc"-->
	<!--xmlns:context="http://www.springframework.org/schema/context"-->
	<!--xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd-->
		<!--http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd	-->
		<!--http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">-->
	<!---->
	<!--<mvc:annotation-driven/>	-->
	<!--<mvc:default-servlet-handler/>-->
	<!---->
	<!--<context:component-scan base-package="org.muses.jeeplatform.web.controller" />-->

	<!--&lt;!&ndash; 对静态资源文件的访问  restful&ndash;&gt;     -->
	<!--<mvc:resources mapping="/static/**" location="/static/" />-->
	<!--<mvc:resources mapping="/upload/**" location="/upload/" />-->
	<!--<mvc:resources mapping="/plugins/**" location="/plugins/" />-->

	<!--&lt;!&ndash; 网站访问拦截器配置 start &ndash;&gt;  -->
  	<!--<mvc:interceptors>-->
		<!--<mvc:interceptor>-->
			<!--<mvc:mapping path="/**/**"/>-->
			<!--<bean class="org.muses.jeeplatform.web.interceptor.LoginInterceptor"/>-->
		<!--</mvc:interceptor>-->
	<!--</mvc:interceptors>-->
	<!--&lt;!&ndash; 网站访问拦截器配置 end &ndash;&gt;-->
	 <!---->
	<!--&lt;!&ndash; 配置SpringMVC的视图解析器 &ndash;&gt;-->
	<!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
		<!--<property name="prefix" value="/WEB-INF/jsp/"/>-->
		<!--<property name="suffix" value=".jsp"/>-->
	<!--</bean>-->
	<!---->
	<!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />  -->
	<!---->
<!--</beans>-->