# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.class
*.mvn
mvnw.*

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws
.mvn

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.swp

# system ignore
.DS_Store
Thumbs.db
