<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Table Examples</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/index.css">
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/index.js"></script>
    <script src="/assets/ga.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">程序员都是魔法师</a>
        </div>
    </div>
</nav>

<div class="navigation">
    <div class="container">
        <a class="previous" href="#">
            <i class="glyphicon glyphicon-arrow-left"></i>
            PREVIOUS: <span></span>
        </a>
        <a class="next" href="#">
            NEXT: <span></span>
            <i class="glyphicon glyphicon-arrow-right"></i>
        </a>
    </div>
</div>

<div class="content">
    <iframe width="100%" height="100%"></iframe>
</div>
</body>
</html>
