<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx.xsd
						">
	<!-- Velocity视图解析器配置 start-->
	<bean id="velocityViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
	    <property name="cache" value="true" />
	    <property name="prefix" value="/" />
	    <property name="suffix" value=".vm" />
	    <property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml"/> <!--toolbox配置文件路径-->   
	    <property name="layoutUrl" value="layout/layout.vm" /> 
        <property name="contentType" value="text/html;charset=UTF-8" /> <!--指定编码-->  
        <property name="exposeSpringMacroHelpers" value="true" /> <!--是否使用spring对宏定义的支持-->  
        <property name="layoutKey" value="layout"></property>    
        <property name="screenContentKey" value="screen_content" />  
        
        <property name="dateToolAttribute">  
            <value>dateTool</value> <!--日期函数名称-->  
        </property>  
        <property name="numberToolAttribute">  
            <value>numberTool</value> <!--数字函数名称-->  
        </property>  
          
        <property name="allowRequestOverride" value="true" />  
        <property name="exposeRequestAttributes" value="true" /> <!--是否开放request属性-->  
        <property name="exposeSessionAttributes" value="true" /> <!--是否开放session属性-->  
        <property name="requestContextAttribute" value="rc"/> <!--request属性引用名称--> 
	</bean>
	<!-- Velocity视图解析器配置 end -->

	<!-- Velocity环境配置 start-->
	<bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
    	<!-- velocity配置文件路径 -->
    	<property name="configLocation" value="classpath:velocity.properties"/>
    	<!-- velocity模板路径 -->
    	<property name="resourceLoaderPath" value="/WEB-INF/vm"/>
    	<property name="velocityProperties">  
            <props>  
                <prop key="directive.foreach.counter.name">loopCounter</prop>  
                <prop key="directive.foreach.counter.initial.value">0</prop>  
                <prop key="directive.foreach.iterator.name">loopHasNext</prop>  
            </props>  
        </property> 
	</bean>
	<!-- Velocity环境配置 end -->
					
</beans>